@charset "utf-8";
/* CSS Document */


#nav-bar{
/*    background-color: rgb(52, 48, 65);*/
    color: white;
    font-family: "Mr Eaves Mod OT";
    text-transform: uppercase;
/*    height: 10vh;*/
    background-color: rgba(0, 0, 0, 0.64);
}


body{
/*    background-color: #313131;*/
    background-image: url("../images/Hero Box.png");
    background-color: #313131;
    background-size: contain;
    background-position: top, center;
    background-repeat: no-repeat;
    height: 90vh;
}



.hero-box {
/*
    background-image: url("../images/eye-in-the-sky.png");
    background-color: #313131;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
*/
    
}


.hero-image {
    max-width: 100%;
    height: auto;
}

