@charset "utf-8";
/* CSS Document */


#nav-bar{
    color: white;
    font-family: "Mr Eaves Mod OT";
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.64);
/*    display: flex;*/
    justify-content: space-between;
}

nav img{
    width: 5rem;
}

body{
    background-color: #313131;
}



    .hero-box{
        background-image: url("../images/hero-box-mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 88vh;
    }









@media(min-width:400px){

}



/*Big Monitors*/
@media(min-width: 1366px){
.hero-box {
    background-image: url("../images/hero-box-desktop.png");
    background-color: #313131;
    background-size: contain;
    background-position: top, center;
    background-repeat: no-repeat;
    height: 100vh;  
}
}

